@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
body {
  font-family: ('Montserrat', 'Arial', sans-serif);
  min-width: 320px;
}
img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
